.odd{
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd.third{
    font-size: 24px;
}

#secondElement{
    color:blue;
    font-size: 36px;
}

#fourthElement{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}