body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 1px solid #fff;
}

.card *{
  /*border: 1px solid black;*/
  font-size: 16px;
}

.card div, h1{
  padding: 10px 8px;
  margin: 8px 8px;
  border: 1px solid #e3f4ff;
}

.title {
  background: #e3f4ff;
  margin-top: 18px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}